<form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="form-signup row">
    <div class="col-md-4 offset-md-4 bg-white-cstm form-cstm">
        <div class="form-group row" *ngIf="status">
            <div class="col-md-12">
                <p class="text-center status">{{status}}</p>
            </div>
        </div> 
        <div class="form-group row">
            <div class="col-md-12">
                <h3 class="text-center">Sign Up On Twitter</h3>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-11 offset-md-1" *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors">Email is not valid</div>
            </div>
        </div> -->
        
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control" placeholder="User Name" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 invalid-feedback" *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required">User name is required</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control" type="password" type="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" *ngIf="submitted && f.password.errors">
                <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                <div *ngIf="f.password.errors.minlength">Password should have a minumum of 6 characters</div>
            </div>
        </div>
        <div class="form-group row margin-top-20">
            <div class="col-md-6">
                <input type="submit" class="btn btn-info btn-full" value="Sign Up">
            </div>            
            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-full" routerLink="/login">Back</button>
            </div>            
        </div>
    </div>
</form>