<div class="container">
    <app-top-nav-bar></app-top-nav-bar>
    <div class="row height-100">
        <div class="col-md-2 offset-md-1 height-100 margin-top-20 pos-fix margin-top-70">
            <app-left-nav-bar></app-left-nav-bar>
        </div>
        <div class="col-md-4 offset-md-4 height-100 margin-top-70">
            <div class="row">
                
            </div>
        </div>
        <div class="col-md-3 offset-md-9 height-100 pos-fix margin-top-70">
            <app-follow-suggestions></app-follow-suggestions>
        </div>
    </div>
</div>