<div class="row margin-top-20 nonFollowing" *ngIf="nonFollowing && nonFollowing.length > 0">
    <div class="width-100">
        <div class="row margin-top-10">
            <div class="col-md-10"><p class="know">People you might want to follow</p></div>
        </div>
    </div>
    <div *ngFor="let user of nonFollowing" class="width-100 user-tab">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <span class="">{{user.username}}</span>
            </div>
            <div class="col-md-5">
                    <button type="button" (click)="follow($event.target, user._id);" class="btn btn-full white-font">Follow &nbsp;<i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>